div.about {
  width: 400px;
  text-align: left;
  left: calc(50% - 205px);
  position: absolute;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: .9em;
}

div.about > div.text {
  text-align: justify;
  padding-right: 13px;
}
