.App {
  text-align: center;
}

.app-header > h1 {
  margin-bottom:0px;
}

h1 .title {
  color: mediumorchid;
  font-style: italic;
}

.app-header >  h4 {
    font-weight: lighter;
    font-size: .8em;
    color: #888888;
    font-style: italic;
    margin-top:0px;
}

p {
  font-size: .9em;
}

.entry input, .entry button {
  margin: 0 10px 0 10px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  padding: 5px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  padding: 5px 0 3px 0;
  font-style: italic;
  font-size: 12px;
}

.divider {
  font-style: normal;
  padding: 0 4px 0 4px;
}

.footer a , .footer a:visited, .footer a:hover, .footer a:active{
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

.close {
  position: absolute;
  right:0px;
  top:0px;
  padding: 2px 4px;
  background-color: #cccccc;
  color: #999999;
  cursor: pointer;
}
